body {
    background-color: #333A56;
   }

.middleSection {
    height: 800px;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}

.header {
    text-align:"left";
    color:"white";
}